.aside {
  width: 15%;
  background-color: blue;
  padding: 20px;
  position: relative;
}

.layout-app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

/* @media (min-width: 768px) {
  .aside {
    width: 20%;
  }
} */

.icon-aside {
  position: absolute;
  top: 1;
  right: 0;
}

.contraer-aside {
  width: 5%;
  background-color: blue;
  padding: 5px;
  position: relative;
}
